:root {
  font-family: sans-serif;
}

#userList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.userListItem {
  margin: 20px;
  width: 200px;
  border: 2px solid red;
  border-radius: 5px;
  text-align: center;
}

.userListItem > img {
  border-radius: 50%;
}

.userFullName {
  margin: 15px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonContainer > button {
  margin: 10px;
}
