:root {
  font-family: sans-serif;
}

.userList {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.userListItem {
  margin: 20px;
  width: 200px;
  border: 2px solid red;
  border-radius: 5px;
  text-align: center;
}

.userListItem:hover{
  cursor: pointer;
}

.userListItem > img {
  border-radius: 50%;
}

.userFullName {
  margin: 15px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonContainer > button {
  margin: 10px;
}

.clickedCard {
  background: linear-gradient(black, maroon, red, rgb(190, 74, 74), white);
  box-shadow: -3px -4px 1px black;
}

.namesString{
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 99;
  color: yellow;
  background-color: black;
}
